a {
    text-decoration: none;
    color: black;
}
.navbar {
    justify-content: flex-start;
}

.navbar-brand {
    margin-left: 10px;
}

.navbar-left-container {
    margin-right: 5px;
}

.navbar-left-container>a {
    margin-right: 5px;
}

.d-flex>.btn {
    border: 1px solid #0D6EFD;
    width: 350px;
    font-size: small;
}

.form-control {
    padding: 3px 12px;
    font-size: small;
}

.d-flex {
    height: 30px;
    width: 30%;
    justify-content: flex-start;
}

.sign-up {
    margin-left: 620px;
}

.jumbotron {
    background-image: url("../images/pizza.png");
    height: 346px;
    background-size: cover;
}



.build-pizza-tabs {
    margin-top: 30px;
}

.badge {
    border-radius: 50%;
}

#thin-crust-info, #hand-tossed-crust-info, #cheese-info, #sauce-info, #meats-info, #non-meats-info {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 20px;
}
